<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>

<body>
<div th:fragment="modal">

<!-- 알림모달 -->
	<div class="noticemodal"></div>
	  <div id="modalcontent" class="modal-con modalnotice">
	    <a href="javascript:;" class="modalclose">
	    <svg class="icon-cross demo-box-icon"><use xlink:href="#svg-cross"></use></svg></a>
	    <p class="noticetitle"><svg class="icon-notification demo-box-icon">
	    <use xlink:href="#svg-notification"></use></svg>  알림</p>
	    <div class="con">
	      <h6 style="margin-bottom:45px" id="modaltext"></h6>
	    </div>
	    <button id="confirmbtn" class="button small primary" type="button"style="position:absolute; width:30%; bottom:3%; right:3%; ">확인</button>
	</div>
<!-- 경고모달 -->
	<div class="noticemadal"></div>
	  <div id="warningmodalcontent" class="modal-con modalnotice">
	    <a href="javascript:;" class="modalclose">
	    <svg class="icon-cross demo-box-icon"><use xlink:href="#svg-cross"></use></svg></a>
	    <p style="color:#ede205" class="warntitle"><svg class="icon-notification demo-box-icon">
	    <use xlink:href="#svg-notification"></use></svg>  알림</p>
	    <div class="con">
	      <h6 style="margin-bottom:45px" id="warningmodaltext"></h6>
	    </div>
	    <button id="confirmbtn"class="button small warning" type="button" style="position:absolute; width:30%; bottom:3%; right:3%;">확인</button>
	</div>
</div>
</body>
</html>