<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:id="replyBox+${post.bno}" style="display: none" th:fragment="reply">
		<div class="user-status" id="refreshReply" style="margin-left: 40px;"
			th:each="reply:${post.replyList}">
			<!-- USER STATUS AVATAR -->
			<a class="user-status-avatar" href="/myPage"> <!-- USER AVATAR -->
				<div class="user-avatar small no-outline">
					<!-- USER AVATAR CONTENT -->
					<div class="user-avatar-content">
						<!-- HEXAGON -->
						<div class="hexagon-image-30-32" th:if="${reply.profileCheck}==1"
							th:attr="data-src=@{/user/profileId/}+${reply.replyWriter}"></div>
						<div class="hexagon-image-30-32"
							th:unless="${reply.profileCheck}==1"
							th:attr="data-src=@{../../img/user_baseProfile.png}"></div>
						<!-- /HEXAGON -->
					</div>
					<!-- /USER AVATAR CONTENT -->

					<!-- USER AVATAR PROGRESS -->
					<div class="user-avatar-progress">
						<!-- HEXAGON -->
						<div class="hexagon-progress-40-44"></div>
						<!-- /HEXAGON -->
					</div>
					<!-- /USER AVATAR PROGRESS -->

					<!-- USER AVATAR PROGRESS BORDER -->
					<div class="user-avatar-progress-border">
						<!-- HEXAGON -->
						<div class="hexagon-border-40-44"></div>
						<!-- /HEXAGON -->
					</div>
					<!-- /USER AVATAR PROGRESS BORDER -->
				</div> <!-- /USER AVATAR -->
			</a>
			<!-- /USER STATUS AVATAR -->
			<!-- USER STATUS TEXT -->
			<p class="user-status-text small" th:text="${reply.replyWriter}"></p>
			<!-- /USER STATUS TEXT -->
			<!-- USER STATUS TITLE -->
			<p class="user-status-title medium">
				<span class="bold" th:text="${reply.replyContent}"></span>
			</p>
			<p class="user-status-text small" style="display: inline"
				th:text="${#dates.format(reply.replyDate, 'yyyy-MM-dd HH:mm')}">
			</p>
			<a class="user-status-text small" th:id="reComment+${reply.rno}"
				th:onclick="|javascript:openRecmt('${reply.rno}')|">&nbsp;&nbsp;답글쓰기</a>
			<!-- /USER STATUS TITLE -->
			<div class="user-status" id="refreshRecmt"
				th:each="recmt:${reply.recmtList}">
				<!-- USER STATUS AVATAR -->
				<a class="user-status-avatar" href="/myPage"> <!-- USER AVATAR -->
					<div class="user-avatar small no-outline">
						<!-- USER AVATAR CONTENT -->
						<div class="user-avatar-content">
							<!-- HEXAGON -->
							<div class="hexagon-image-30-32" th:if="${reply.profileCheck}==1"
								th:attr="data-src=@{/user/profileId/}+${recmt.recmtWriter}"></div>
							<div class="hexagon-image-30-32"
								th:unless="${reply.profileCheck}==1"
								th:attr="data-src=@{../../img/user_baseProfile.png}"></div>
							<!-- /HEXAGON -->
						</div>
						<!-- /USER AVATAR CONTENT -->

						<!-- USER AVATAR PROGRESS -->
						<div class="user-avatar-progress">
							<!-- HEXAGON -->
							<div class="hexagon-progress-40-44"></div>
							<!-- /HEXAGON -->
						</div>
						<!-- /USER AVATAR PROGRESS -->

						<!-- USER AVATAR PROGRESS BORDER -->
						<div class="user-avatar-progress-border">
							<!-- HEXAGON -->
							<div class="hexagon-border-40-44"></div>
							<!-- /HEXAGON -->
						</div>
						<!-- /USER AVATAR PROGRESS BORDER -->
					</div> <!-- /USER AVATAR -->
				</a>
				<!-- /USER STATUS AVATAR -->
				<!-- USER STATUS TEXT -->
				<p class="user-status-text small" th:text="${recmt.recmtWriter}"></p>
				<!-- /USER STATUS TEXT -->
				<!-- USER STATUS TITLE -->
				<p class="user-status-title medium">
					<span class="bold" th:text="${recmt.recmtContent}"></span>
				</p>
				<p class="user-status-text small" style="display: inline"
					th:text="${#dates.format(recmt.recmtDate, 'yyyy-MM-dd HH:mm')}">
				</p>
				<!-- /USER STATUS TITLE -->
			</div>
			<div class="post-options" th:id="recmtPost+${reply.rno}"
				style="display: none"
				th:if="${user}!=null and ${boardResult}=='WriteSuccess'">
				<form class="form" th:id="recmtFrm+${reply.rno}"
					style="width: 75%; display: inline-block">
					<div class="form-row">
						<!-- FORM ITEM -->
						<div class="form-item">
							<!-- FORM INPUT -->
							<div class="form-input">
								<label>내용</label> <input type="text"
									class="form-control form-control-lg input-lg"
									th:id="replyContent+${reply.rno}" name="recmtContent">
							</div>
							<input type="hidden" th:id="recmtRno+${reply.rno}" name="rno"
								th:value="${reply.rno}">
							<!-- /FORM INPUT -->
						</div>
						<!-- /FORM ITEM -->
					</div>
				</form>
				<button class="button primary"
					th:onclick="|javascript:recmtBtn('${reply.rno}')|"
					style="width: 20%; margin-top: -2px;">쓰기</button>
			</div>
			<div class="user-status" id="ajaxAddRecmt" style="display: none;">
				<!-- USER STATUS AVATAR -->
				<a class="user-status-avatar" href="/myPage"> <!-- USER AVATAR -->
					<div class="user-avatar small no-outline" id="addAvatar">
						<!-- USER AVATAR CONTENT -->
						<div class="user-avatar-content">
							<!-- HEXAGON -->
							<img class="hexagon-image-30-32" id="ajaxRecmtProfile"
								th:attr="data-src=@{../../user_baseProfile.png}">
							<!-- /HEXAGON -->
						</div>
						<!-- /USER AVATAR CONTENT -->

						<!-- USER AVATAR PROGRESS -->
						<div class="user-avatar-progress">
							<!-- HEXAGON -->
							<div class="hexagon-progress-40-44"></div>
							<!-- /HEXAGON -->
						</div>
						<!-- /USER AVATAR PROGRESS -->
						<!-- USER AVATAR PROGRESS BORDER -->
						<div class="user-avatar-progress-border">
							<!-- HEXAGON -->
							<div class="hexagon-border-40-44"></div>
							<!-- /HEXAGON -->
						</div>
						<!-- /USER AVATAR PROGRESS BORDER -->
					</div> <!-- /USER AVATAR -->
				</a>
				<!-- /USER STATUS AVATAR -->
				<!-- USER STATUS TEXT -->
				<p class="user-status-text small" id="ajaxRecmtId"></p>
				<!-- /USER STATUS TEXT -->
				<!-- USER STATUS TITLE -->
				<p class="user-status-title medium">
					<span class="bold" id="ajaxRecmtContent"></span>
				</p>
				<p class="user-status-text small" id="ajaxRecmtDate"
					style="display: inline"></p>
				<!-- /USER STATUS TITLE -->
			</div>
		</div>
		<div class="user-status" id="ajaxAddReply" style="display: none;">
			<!-- USER STATUS AVATAR -->
			<a class="user-status-avatar" href="/myPage"> <!-- USER AVATAR -->
				<div class="user-avatar small no-outline" id="addAvatar">
					<!-- USER AVATAR CONTENT -->
					<div class="user-avatar-content">
						<!-- HEXAGON -->
						<img class="hexagon-image-30-32" id="ajaxReplyProfile"
							th:attr="data-src=@{../../user_baseProfile.png}">
						<!-- /HEXAGON -->
					</div>
					<!-- /USER AVATAR CONTENT -->

					<!-- USER AVATAR PROGRESS -->
					<div class="user-avatar-progress">
						<!-- HEXAGON -->
						<div class="hexagon-progress-40-44"></div>
						<!-- /HEXAGON -->
					</div>
					<!-- /USER AVATAR PROGRESS -->
					<!-- USER AVATAR PROGRESS BORDER -->
					<div class="user-avatar-progress-border">
						<!-- HEXAGON -->
						<div class="hexagon-border-40-44"></div>
						<!-- /HEXAGON -->
					</div>
					<!-- /USER AVATAR PROGRESS BORDER -->
				</div> <!-- /USER AVATAR -->
			</a>
			<!-- /USER STATUS AVATAR -->
			<!-- USER STATUS TEXT -->
			<p class="user-status-text small" id="ajaxReplyId"></p>
			<!-- /USER STATUS TEXT -->
			<!-- USER STATUS TITLE -->
			<p class="user-status-title medium">
				<span class="bold" id="ajaxReplyContent"></span>
			</p>
			<p class="user-status-text small" id="ajaxReplyDate"
				style="display: inline"></p>
			<a class="user-status-text small">&nbsp;&nbsp;답글쓰기</a>
			<!-- /USER STATUS TITLE -->
		</div>
		<div class="post-options" id="commentPost" th:if="${user}!=null">
			<form class="form" id="replyFrm"
				style="width: 75%; display: inline-block">
				<div class="form-row">
					<!-- FORM ITEM -->
					<div class="form-item">
						<!-- FORM INPUT -->
						<div class="form-input">
							<label>내용</label> <input type="text"
								class="form-control form-control-lg input-lg" id="replyContent"
								name="replyContent">
						</div>
						<input type="hidden" id="replyBno" name="bno"
							th:value="${post.bno}">
						<!-- /FORM INPUT -->
					</div>
					<!-- /FORM ITEM -->
				</div>
			</form>
			<input type="button" class="button primary" id="replyBtn"
				style="width: 20%; margin-top: -2px;" value="입력">
		</div>
		<div class="post-options" th:unless="${user}!=null">
			<p>
				<a href="/login">로그인</a>이 필요합니다.
			</p>
		</div>
	</div>
</body>
</html>