<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/view/fragments/header.html :: header">
</head>
<body th:insert="/view/fragments/nav.html :: fragment-nav"></body>
<body>
<div th:replace="/view/fragments/nav.html :: fragment-nav"></div>
<div style="margin-left:0px; margin-top:0px" class="col-xl-4 col-md-6">
			<div class="card" th:each="obj:${List}" style="height: 900px; width: 1670px; left: 230px; top:110px;">
				<div style="margin:30px">
				<div class="card-header">
					<h4 class="card-title" th:text="${obj.userId}"></h4>
				</div>
				<div class="card-body">	
					<img src="http://placehold.it/500x500" class="img-fluid" style="left:300px; height:600px; width:600px">
					<div class="card-block">
						<a href="#" class="card-link">Like 141</a>
						<p class="card-text" th:text="${obj.bo_content}"></p>
					<!-- 	<div class="reply" th:each="reply:${replyList}">
							<p class="card-text" th:text="${reply.r_writer}"></p>	
							<p class="card-text" th:text="${reply.r_content}"></p>	 -->
						</div>
					</div>
				</div>
				<div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
					<i class="icon-android-happy" style ="font-size:50px;"></i>
				</div>
			</div>
		</div>
	</div>
</body>
</body>
</html>