<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/view/fragments/header.html :: header">
</head>
<body th:insert="/view/fragments/nav.html :: fragment-nav"></body>
<body>
<div th:replace="/view/fragments/nav.html :: fragment-nav"></div>
<script>
$(document).ready( function() {
	
});
</script>
</head>
<body>
<div id="header"></div>
<div style="margin-top:25px; margin-left:250px;">
	<button type="button" class="btn btn-primary btn-min-width mr-1 mb-1" 
		style="display:block; float:right;" th:onclick="location.href='myFriends'">My Friends</button>
	<div class="col-lg-6 col-md-12" style="width:100%">
		<div class="card">
			<div class="card-header" style="display:block;">
				<input type="text" class="form-control form-control-lg input-lg" id="iconLeft" placeholder="Search Friends!">
				<button type="button" class="btn btn-info btn-min-width mr-1 mb-1" style=" margin-top:5px; float:right;">검색</button>
				<a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
			</div>
			<div class="card-body collapse in">
				<div class="card-block">
					<div class="list-group">
						<a href="#" class="list-group-item disabled">새 친구 목록</a>
						<div th:each="f:${list}">
							<form method="post" action="mySearchFriends">
								<a th:href="@{myPage(uno=${f.uno})}" class="list-group-item" 
									th:value="${f.uno}" style="display:inline-block; width:85%;">
								<input type="hidden" th:value="${f.uno}" name="friendNo">
								<input th:value="${f.userName}" name="friendName" style="display:block;">
								<input type="hidden" th:value="${f.userPhone}" name="friendNumber">
								<input th:value="${#dates.format(f.userBirthdate, 'yyyy-MM-dd')}" name="friendBirthdate"></a>
								<button type="submit" class="btn btn-info btn-min-width mr-1 mb-1"
									onclick="href='addFriend'" style="margin-top:22px; float:right;">친구 추가</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>