<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/main.css" rel="stylesheet"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
          type="text/css"> 
</head>
<body>
<div th:fragment="section-navi">
<!-- SECTION NAVIGATION -->
		<nav class="section-navigation">
			<!-- SECTION MENU -->
			<div id="section-navigation-slider" class="section-menu">
				<!-- SECTION MENU ITEM -->
				<a class="section-menu-item" th:href="@{/myPage/}+${vo.userId}"> <!-- SECTION MENU ITEM ICON -->
					<svg class="section-menu-item-icon icon-profile">
			            <use xlink:href="#svg-profile"></use>
			        </svg> <!-- /SECTION MENU ITEM ICON --> <!-- SECTION MENU ITEM TEXT -->
					<p class="section-menu-item-text">Timeline</p> <!-- /SECTION MENU ITEM TEXT -->
				</a>
				<!-- /SECTION MENU ITEM -->

				<!-- SECTION MENU ITEM -->
				<a class="section-menu-item active" th:href="@{/myFriends/}+${vo.userId}">
					
					<svg class="section-menu-item-icon icon-friend">
			            <use xlink:href="#svg-friend"></use>
			        </svg> <!-- /SECTION MENU ITEM ICON -->
			   
					<p class="section-menu-item-text">Friends</p> <!-- /SECTION MENU ITEM TEXT -->
				</a>
				<!-- /SECTION MENU ITEM -->

				<!-- SECTION MENU ITEM -->
				<a class="section-menu-item" th:href="@{/groups/}+${vo.userId}"> <!-- SECTION MENU ITEM ICON -->
					<svg class="section-menu-item-icon icon-group">
		            	<use xlink:href="#svg-group"></use>
		          	</svg> <!-- /SECTION MENU ITEM ICON --> <!-- SECTION MENU ITEM TEXT -->
					<p class="section-menu-item-text">Groups</p> <!-- /SECTION MENU ITEM TEXT -->
				</a>
				<!-- /SECTION MENU ITEM -->
			</div>
			<!-- /SECTION MENU -->

			<!-- SLIDER CONTROLS -->
			<div id="section-navigation-slider-controls" class="slider-controls">
				<!-- SLIDER CONTROL -->
				<div class="slider-control left">
					<!-- SLIDER CONTROL ICON -->
					<svg class="slider-control-icon icon-small-arrow">
			            <use xlink:href="#svg-small-arrow"></use>
			        </svg>
					<!-- /SLIDER CONTROL ICON -->
				</div>
				<!-- /SLIDER CONTROL -->
				
				<!-- SLIDER CONTROL -->
				<div class="slider-control right">
					<!-- SLIDER CONTROL ICON -->
					<svg class="slider-control-icon icon-small-arrow">
			            <use xlink:href="#svg-small-arrow"></use>
			        </svg>
					<!-- /SLIDER CONTROL ICON -->
				</div>
				<!-- /SLIDER CONTROL -->
			</div>
			<!-- /SLIDER CONTROLS -->
		</nav>
		<!-- /SECTION NAVIGATION -->
</div>
</body>
</html>