@charset "utf-8";
<style>
#MiddleArea {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: 웹 1920 – 1;
		--web-view-id: _1920__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#_24 {
		fill: rgba(247,246,248,1);
	}
	._24 {
		filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1544px;
		height: 1010px;
		left: 157px;
		top: 119px;
	}
	
	#rightTop {
		position: absolute;
		width: 371px;
		height: 66px;
		left: 1310px;
		top: 50px;
		overflow: visible;
	}
	#SearchBox {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	
		position: absolute;
		overflow: visible;
		width: 180px;
		height: 30px;
		left: 120px;
		top: 20px;
	}
	#MyProfile {
		position: absolute;
		width: 66px;
		height: 66px;
		left: 30px;
		bottom: 0px;
		overflow: visible;
		cursor:pointer
	}
	#SearchToggle {
		position: absolute;
		width: 46px;
		height: 22px;
		left: 325px;
		top: 28px;
		overflow: visible;
	}
	#toggleBox {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.toggleBox {
		position: absolute;
		overflow: visible;
		width: 44px;
		height: 22px;
		left: 0px;
		top: 0px;
	}
	#toggleButton {
		fill: rgba(66,227,141,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.toggleButton {
		position: absolute;
		overflow: visible;
		width: 22px;
		height: 22px;
		left: 24px;
		top: 0px;
	}
	
	
	#UserPic {
		position: absolute;
		width: 64px;
		height: 64px;
		left: 245px;
		top: 135px;
		overflow: visible;
	}
	
	#MainMenuButton {
		position: absolute;
		width: 100px;
		height: 100px;
		left: 2px;
		top: 8px;
		overflow: visible;
		cursor:pointer
	}
	
	
	#My_Calander {
		left: 107px;
		top: 32px;
		position: absolute;
		overflow: visible;
		width: 231px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(197,160,225,1);
		letter-spacing: 0.1px;
		cursor:pointer
	}
	
	li :hover{
		background-color: #8977ad;
		color: #8977ad;
	}
		
	#HomeButton{
		width: 100px;
		height: 100px;
		background: red;
		cursor:pointer
	}
	#HomeIcon {
		position: absolute;
		width: 91px;
		height: 91px;
		left: 17px;
		top: 119px;
		overflow: visible;
	}
	
	#HomeText {
		left: 25px;
		top: 221px;
		position: absolute;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(197,160,225,1);
		letter-spacing: 0.1px;
		
	}
	
	#BestButton{
		width: 100px;
		height: 100px;
		background: red;
		cursor:pointer;
	}
	#bestIcon {
		position: absolute;
		width: 91px;
		height: 91px;
		left: 16px;
		top: 255px;
		overflow: visible;
		
	}
	#BestText {
		left: 23px;
		top: 346px;
		position: absolute;
		overflow: visible;
		width: 79px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(197,160,225,1);
		letter-spacing: 0.1px;
	}
		
	#GroupButton{
		width: 100px;
		height: 100px;
		background: red;
		cursor:pointer;
	}
	#GroupText {
		left: 17px;
		top: 492px;
		position: absolute;
		overflow: visible;
		width: 93px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		color: rgba(197,160,225,1);
		letter-spacing: 0.1px;
	}
	#GroupIcon {
		position: absolute;
		width: 91px;
		height: 91px;
		left: 18px;
		top: 403px;
		overflow: visible;
	}
	#FriendsButton{
		width: 100px;
		height: 100px;
		background: red;
		cursor:pointer;
	}
	#FriendsIcon {
		position: absolute;
		width: 85px;
		height: 85px;
		left: 19px;
		top: 539px;
		overflow: visible;
	}
	#FriendsText {
		left: 7px;
		top: 635px;
		position: absolute;
		overflow: visible;
		width: 111px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		color: rgba(197,160,225,1);
		letter-spacing: 0.1px;
	}
	#plus {
		opacity: 0.5;
		position: absolute;
		width: 115px;
		height: 115px;
		left: 1741px;
		top: 873px;
		overflow: visible;
		cursor:pointer
	}
</style>
