@charset "utf-8";
<style>
#newPostModal{
		position: absolute;
		display: none;
        width: 1000px;
        height: 800px;
        top:40%;
        left: 35%;
        margin: -250px 0 0 -250px;
        background:#eee;
        z-index: 2;
   }
	#newPostModal_close_btn{
		  position: relative;
		  width:100px;
		  margin-left:calc(100% - 100px - 10px);
     }
	#modal {
		position: absolute;
		display: none;
        width: 1000px;
        height: 500px;
        top:50%;
        left: 35%;
        margin: -250px 0 0 -250px;
        background:#eee;
        z-index: 2;
   }
    
    #modal_close_btn {
		  position: relative;
		  width:100px;
		  margin-left:calc(100% - 100px - 10px);
     }
	#joinmodal_close_btn{
		position: absolute;
		width:100px;
		left:800px;
     }
	.ModalBorder {
		position: absolute;
		overflow: visible;
		width: 1123px;
		height: 776px;
		left: 413px;
		top: 144px;
		fill: rgba(242,242,242,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.inputBox{
		position:absolute;
	
	}
	
		
	#password {
		width= 1355px;
		height= 157px;
		top:50px;
	}
	
	#doLogin {
		left: 360px;
		top: 40px;
		position: absolute;
		width: 256px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(112,112,112,1);
	}
	
	
	#line {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.line {
	
		position: absolute;
		width: 355px;
		height: 1px;
		top: 350px;
		left:300px;
		transform: matrix(1,0,0,1,0,0);
	}
	
	#joinButton{
		position: absolute;
		left: 330px;
		top: 360px;
	}
	
	#findId {
		left: 420px;
		top: 360px;
		position: absolute;
		
		width: 106px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(112,112,112,1);
	}
	#findPass {
		left: 540px;
		top: 360px;
		position: absolute;
		
		width: 126px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(112,112,112,1);
	}
	
	
	#MiddleArea {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: 웹 1920 – 1;
		--web-view-id: _1920__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#_24 {
		fill: rgba(247,246,248,1);
	}
	._24 {
		filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1544px;
		height: 1010px;
		left: 157px;
		top: 119px;
	}
	# {
		display: none;
		left: 1761px;
		top: 435px;
		position: absolute;
		overflow: visible;
		width: 118px;
		white-space: nowrap;
		text-align: center;
		font-family: MingLiU-ExtB;
		font-style: normal;
		font-weight: normal;
		font-size: 39px;
		color: rgba(3,3,3,1);
	}
	#rightTop {
		position: absolute;
		width: 371px;
		height: 66px;
		left: 1310px;
		top: 50px;
		overflow: visible;
	}
	#SearchBox {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	
		position: absolute;
		overflow: visible;
		width: 180px;
		height: 30px;
		left: 120px;
		top: 20px;
	}
	#modal_opne_btn{
		position: absolute;
		top: 20px;
		left:30px;
	}
	#MyProfile {
		position: absolute;
		width: 66px;
		height: 66px;
		left: 30px;
		bottom: 0px;
		overflow: visible;
		cursor:pointer
	}
	
	
	

	#UserId {
		left: 324px;
		top: 70px;
		position: absolute;
		width: 310px;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(3,3,3,1);
		letter-spacing: 0.1px;
		cursor:pointer
	}
	#UserPass{
		left: 324px;
		top: 120px;
		position: absolute;
		width: 310px;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(3,3,3,1);
		letter-spacing: 0.1px;
		cursor:pointer
	}
	#loginButton{
		left: 324px;
		top: 170px;
		width: 310px;
		position: absolute;
		font-size: 30px;
		cursor:pointer
	}
	#MainMenuButton {
		position: absolute;
		width: 100px;
		height: 100px;
		left: 2px;
		top: 8px;
		overflow: visible;
		cursor:pointer
	}
	
	
	#My_Calander {
		left: 107px;
		top: 32px;
		position: absolute;
		overflow: visible;
		width: 231px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(197,160,225,1);
		letter-spacing: 0.1px;
		cursor:pointer
	}
	
	li :hover{
		background-color: #8977ad;
		color: #F7F6F8;
	}
		
	#HomeButton{
		width: 100px;
		height: 100px;
		background: red;
		cursor:pointer
	}
	#HomeIcon {
		position: absolute;
		width: 91px;
		height: 91px;
		left: 17px;
		top: 119px;
		overflow: visible;
	}
	
	#HomeText {
		left: 25px;
		top: 221px;
		position: absolute;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(197,160,225,1);
		letter-spacing: 0.1px;
		
	}
	
	#BestButton{
		width: 100px;
		height: 100px;
		background: red;
		cursor:pointer;
	}
	#bestIcon {
		position: absolute;
		width: 91px;
		height: 91px;
		left: 16px;
		top: 255px;
		overflow: visible;
		
	}
	#BestText {
		left: 23px;
		top: 346px;
		position: absolute;
		overflow: visible;
		width: 79px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(197,160,225,1);
		letter-spacing: 0.1px;
	}
		
	#GroupButton{
		width: 100px;
		height: 100px;
		background: red;
		cursor:pointer;
	}
	#GroupText {
		left: 17px;
		top: 492px;
		position: absolute;
		overflow: visible;
		width: 93px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		color: rgba(197,160,225,1);
		letter-spacing: 0.1px;
	}
	#GroupIcon {
		position: absolute;
		width: 91px;
		height: 91px;
		left: 18px;
		top: 403px;
		overflow: visible;
	}
	#FriendsButton{
		width: 100px;
		height: 100px;
		background: red;
		cursor:pointer;
	}
	#FriendsIcon {
		position: absolute;
		width: 85px;
		height: 85px;
		left: 19px;
		top: 539px;
		overflow: visible;
	}
	#FriendsText {
		left: 7px;
		top: 635px;
		position: absolute;
		overflow: visible;
		width: 111px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		color: rgba(197,160,225,1);
		letter-spacing: 0.1px;
	}
	#plus {
		opacity: 0.5;
		position: absolute;
		width: 115px;
		height: 115px;
		left: 1741px;
		top: 873px;
		overflow: visible;
		cursor:pointer
	}
	#joinModal {
		position: absolute;
		display: none;
		width: 1000px;
        height: 500px;
        top:50%;
        left: 35%;
		overflow:scroll; 
        margin: -250px 0 0 -250px;
        background:#eee;
        z-index: 2;
	}
        
	
	.joinContents {
		position: relative;
		width: 50%;
		height: 50%;
		left: 160px;
	}
	#joinText {
		position: absolute;
		left: 350px;
		width: 221px;
		top: 20px;
		white-space: nowrap;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(112,112,112,1);
	}
	
	#frm{
		position: absolute;
		left: 200px;
		top: 100px;
	}
	.label{
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
	}
	#전화번호{
	font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
	}
	#custName{
		
	}
	#custId{
	
	}
	#custPass{
		
	}
	#custRePass{
		
		
	}
	#custNameTextbox{
		width: 300px;
		height: 40px;
	}
	#custIdTextbox{
		width: 300px;
		height: 40px;
	}
	#custPassTextbox{
		width: 300px;
		height: 40px;
	}
	#custRePassTextbox{
		width: 300px;
		height: 40px;
	}
	#datepicker{
		width: 300px;
		height: 40px;
	}
	#notPilsu{
	position: absolute;
		position: absolute;
		top: 350px;
	}
</style>
