<!DOCTYPE html>
<html  lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>웹 1920 – 1</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/main_header.css"/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
</head>
<body>
	<div id="MiddleArea">
		<svg class="_24">
			<rect id="_24" rx="0" ry="0" x="0" y="0" width="1514" height="980">
			</rect>
		</svg>
		
	</div>

	
	<div id="rightTop">
		<input type="text" id="SearchBox">
			
		</input>	
		
		
	</div>
		
	<div class="RightTop">
		<div class="MenuBar">
			<img id="MainMenuButton"src="menu.png">
		</div>
		
		<div id="menuIconButton">
			<div class="SideButton" id="HomeButton">
				<img class="menuIcon" src="menu_home.png">
				<span class="IconText" id="HomeText">home</span>
			</div>
			<div class="SideButton" id="BestButton" onclick="">
				<img class="menuIcon" src="menu_best.png">
				<span class ="IconText" id="BestText">Best</span>
			</div>
			<div class="SideButton" id="pb">
				<img class="menuIcon" src="menu_group.png">
				<span class="IconText" id="GroupText">Group</span>
			</div>
			<div class="SideButton" id="pb">
				<img class="menuIcon" src="menu_friend.png">
				<span class="IconText" id="FriendsText">Friends</span>
			</div>
		</div>
		
		
		<div id="My_Calander" onClick="location.href='http://localhost:8080/home'">
			<span>My Calander</span>
		</div>
	</div>
		<img id="plus" src="plus.png">
</body>
</html>