<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="main_header.css"/>
<title>웹 1920 – 1</title>
</head>
<body>
	<svg class="main_center">
		<rect id="main_center" rx="0" ry="0" x="0" y="0" width="1514" height="980">
		</rect>
	</svg>
	<svg class="main_search">
		<rect id="main_search" rx="15" ry="15" x="0" y="0" width="227" height="41">
		</rect>
	</svg>
	<img id="menu" src="/templates/picture/main_header/menu.png" srcset="menu.png 1x">
		
	<div id="my_calander">
		<span>My Calander</span>
	</div>	
		
	<img id="menu_home" src="/templates/picture/main_header/menu_home.png" srcset="menu_home.png 1x">
	<span id="font_home">Home</span>
	
	<img id="menu_best" src="/templates/picture/main_header/menu_best.png" srcset="menu_best.png 1x">
	<span id="font_best">Best</span>

	<img id="menu_group" src="/templates/picture/main_header/menu_group.png" srcset="menu_group.png 1x">
	<span id="font_group">Group</span>
	
	<img id="menu_friend" src="/templates/picture/main_header/menu_friend.png" srcset="menu_friend.png 1x">
	<span id="font_friend">Friend</span>

	<img id="plus" src="/templates/picture/main_header/plus.png" srcset="plus.png 1x">
</body>
</html>